.login-icon{font-size:1.2rem;}
.login-content{margin:6rem 1rem 1rem 1rem}
.login-title{font-size:3rem;}
.login-title-ms{font-size:1.2rem;color:#999999;margin: 1rem 0 4rem 0 }
.login-title-ms .subject{color:#787dfb}