.add-room{width: 100%;margin:3.5rem 0}
.add-room-content{position:fixed;width: 100%;top:2.5rem;bottom: 3.5rem;}
.add-room-top{position: absolute;top:0;width: 100%;height: 50%;}
.add-room-top-content{width: 90%;height: 50%;background: #787dfb;position: absolute;bottom: 10%;left: 5%;    border-radius: 0.5rem;}
.add-room-bottom{position: absolute;top:50%;width: 100%;height: 50%}
.add-room-bottom-content{width: 90%;height: 50%;background: #787dfb;position: absolute;bottom: 10%;left: 5%;background: #787dfb;border-radius: 0.5rem;}
.add-room-title{position: absolute;height: 1.4rem;top: 65%;left: 10%;color: #fff;font-size: 1.4rem}
.add-room-top-image{position:absolute;bottom:40%;width: 90%;height:100%;left:5%;background:url("../../images/img-4.png") no-repeat center;background-size: 100% 100%;border-radius: 1rem;}
.add-room-bottom-image{position:absolute;bottom:40%;width: 90%;height:100%;left:5%;background:url("../../images/img-3.png") no-repeat center;background-size: 100% 100%;border-radius: 1rem;}
.add-room-check-out{width: 1.4rem;height: 1.4rem;border-radius: 0.7rem;position: relative;float: left;margin-right: 0.2rem;border: 2px solid #fff}
.add-room-check-in{width: 1.4rem;height: 1.4rem;border-radius: 0.7rem;position: relative;float: left;margin-right: 0.2rem;border: 2px solid #fff;background: #cccccc}
.add-room-icon{width: 1.4rem;height: 1.4rem}
.step4{width: 25%}
.picker-list {flex-basis: initial;margin: 1rem 0;}
.picker-list input{text-align: right}
.text-right{text-align: right }