/*首页通知栏*/
.notice-main{border-top:1px #ccc solid;border-bottom: 1px #ccc solid;margin: 5px 0 ;}
.notice-bar{padding:5px;text-align: left;background: #fff;color: #222222}
.notice-bar .title{font-size: 1.2em;font-weight: 400; margin: 0 10px;}
.notice-bar-icon{font-size:1.5rem}
.more{color:#ccc; }
.more-arrow{align-items: center;vertical-align: middle}
.notice-line{border-bottom:#efefef solid 1px;}
.notice-voice{background: #f72424;width: 1.6em;height: 1.6em;border-radius: 0.8em;font-size: 1em;line-height: 1.6em; text-align: center;color: #fff}
.notice-agency{background: #342AF7;width: 1.6em;height: 1.6em;border-radius: 0.8em;font-size: 1em;line-height: 1.6em; text-align: center;color: #fff}

/*首页块儿*/
.block{margin: 0.5rem}
.block-content{height: 4.2rem;position: relative;color: #fff}
.block-left{background: url("../../images/img-1.png") no-repeat center; background-size:100% 4.2rem}
.block-right{background: url("../../images/img-2.png") no-repeat center;background-size:100% 4.2rem}
.block-title{padding: 0.8rem 0.5rem}
.block-content-title{padding: 0.1rem}
.block-content-msg{font-size: 14px;padding: 0.1rem}

/*首页报表*/
.rankings{border:1px solid #ccc; border-left:none;border-right:none; background: #fff;}
.rankings-item{margin: 1.5rem 0 0 1rem;padding-bottom: 1rem;}
.rankings-item-border{border-bottom: 1px solid #efefef;}
.rankings-item-icon{margin-left: 15px;display: -ms-flexbox;display: flex;-ms-flex-align: center;align-items: center;}
.rankings-item-title{margin-bottom: 1rem}
.rankings-item-titile-content{margin-left: 0.5rem}
.rankings-item-content{}
.rankings-item-num{margin-bottom: 0.5rem}
.rankings-item-label{color:#bbbbbb;font-size: 0.8rem}