.notice-main{border-top:1px #ccc solid;border-bottom: 1px #ccc solid;margin: 5px 0 ;}
.notice-bar{width: 100%;padding:5px;text-align: left;background: #fff;color: #222222}
.notice-bar .title{font-size: 1.2em;font-weight: 400; margin: 0 10px;}
.notice-bar-icon{font-size:1.5rem}
.more{color:#ccc; }
.more-arrow{align-items: center;vertical-align: middle}
.notice-line{border-bottom:#efefef solid 1px;}
.notice-voice{background: #f72424;width: 1.6em;height: 1.6em;border-radius: 0.8em;font-size: 1em;line-height: 1.6em; text-align: center;color: #fff}
.notice-agency{background: #342AF7;width: 1.6em;height: 1.6em;border-radius: 0.8em;font-size: 1em;line-height: 1.6em; text-align: center;color: #fff}